@font-face{
    font-family:'Graphik Regular';
    src:url(../fonts/graphik/graphik-regular.eot);
    src:
        url(../fonts/graphik/graphik-regular.eot)format('embedded-opentype'),
        url(../fonts/graphik/graphik-regular.woff) format('woff'),
        url(../fonts/graphik/graphik-regular.ttf) format('truetype'),
        url(../fonts/graphik/graphik-regular.svg#Graphik_Regular) format('svg');
}

.profile-card-name{
    margin:15px 0;
}

.profile-interests{
    padding-bottom:0;
}

.box-typical-header-sm{
    color:#888;
    padding: 24px 20px !important;
}


.landing-features{
    position: absolute;
    right: 0;
    bottom: 0;

    width: 550px;
    height: 417px;

    color: #fff;
    background-image: url(../img/green-circle.png);
    background-size: 100%;
}

.landing-app{
    position: absolute;
    top: 66px;
    left: 50px;
}

.device{
    position: absolute;
    top: 0;
    left: 0;

    width: 210px;
}

.app-store{
    position: absolute;
    top: 450px;
    left: 0;

    width: 100px;
}

.google-play{
    position: absolute;
    top: 450px;
    left: 109px;

    width: 100px;
    height: 34px;
}


.share a{
    background-color:#20b2fc;
    display:inline-block;
    height:33px;
    width:33px;
    line-height:37px;
    text-align:center;
    border-radius:50%;
    margin:0 3px;
    opacity:1;
}

.share a:hover{
    opacity:0.8;    
}

.share a i{
    color:#fff;
}

.jssocials-share-link{
    border-radius:50%;
    padding:0!important;
    text-align:center;
    height:33px;
    width:33px;
    line-height:34px;
    text-align:center;
}

.jssocials-share-logo{
    font-size:1.1em!important;
}

.jssocials-share-label{
    display:none!important;
}

.landing-content{
    position:relative;
    height:100vh !important;
    width:100vw !important;
    top:0;
    left:0;
    padding-top:100px;
    margin-top:-30px;
    margin-left:-15px;
    margin-right:-15px;
    background-image:url(/img/homepage-background.jpg);
    background-size:cover;
    background-position:0 0;
    background-repeat:no-repeat;
    
    
}

.landing-content-copy{
    color:#fff;
    padding:30px;
    position:absolute;
}

@media only screen and (max-width: 401px){
    .landing-content-copy h2{
        font-size: 1.8em!important;
    }
}

@media only screen and (min-width: 0px) and (max-width: 600px)  {
    .landing-content-copy{
        left:0;
        top:0px;
        padding:30px;
        width:100%;
    }
}

@media only screen and (min-width: 601px) and (max-width:1159px){
    .landing-content{
        background-position:-300px 0px;
    }
   .landing-content-copy{
        width:450px;
        position:absolute;
        left:80px;
        top:60px;
    } 
}
@media only screen and (min-width: 1160px) and (max-width: 1400px)  {
    .landing-content{
        background-position:-200px 0px;
    }
    .landing-content-copy{
        width:550px;
        position:absolute;
        left:100px;
        top:70px;
    }
}

@media only screen and (min-width: 1400px)  {
    .landing-content{
        background-position:0 0px;
    }
    .landing-content-copy{
        width:650px;
        position:absolute;
        left:100px;
        top:70px;
    }
}

@media only screen and (max-width: 767px)  {
    .site-logo{
        margin-top: -4px;
    }
}



.landing-content-copy h2{
    margin-bottom: 40px;
    line-height: 1.3em;
}

.landing-content-copy p{
    line-height: 1.6em;
}


@media only screen and (max-width: 1030px){
    body.landing{
        background: #3fc07d;
    }

    .landing-app{
        display: none;
    }

    .landing-features{
        right: auto;
        bottom: auto;

        width: 100%;
        height: 300px;

        background-color: #3fc07d;
        background-image: none;
    }


    .features-list{
        position: relative !important;
        right: auto;
        bottom: auto;
        left: auto;

        max-width: 300px;
        margin-top: 40px;
        margin-left: 40px;
    }

    .features-item{
        width: 90%;
    }
}

.page-footer{
    padding:20px;
    margin-top: -9px;
    background:#fff;
}
